<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisplus.mapper.OrderListMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatisplus.model.domain.OrderList">
        <id column="order_id" property="id" />
        <result column="adress_id" property="adressId" />
        <result column="user_id" property="userId" />
        <result column="transport_number" property="transportNumber" />
        <result column="get_by_self" property="getBySelf" />
        <result column="paid" property="paid" />
        <result column="order_status" property="orderStatus" />
        <result column="order_date" property="order_date" />
    </resultMap>

    <resultMap id="OrderContainGoodsMap" type="com.example.mybatisplus.model.vo.OrderContainGoodsVO">
        <id column="order_id" property="id" />
        <result column="adress_id" property="adressId" />
        <result column="user_id" property="userId" />
        <result column="transport_number" property="transportNumber" />
        <result column="get_by_self" property="getBySelf" />
        <result column="paid" property="paid" />
        <result column="order_status" property="orderStatus" />
        <result column="order_date" property="order_date" />
        <collection property="list" ofType="com.example.mybatisplus.model.domain.OrderContainGoods">
            <result column="order_id" property="orderId" />
            <result column="goods_id" property="goodsId" />
            <result column="goods_number" property="goodsNumber" />
            <result column="goods_name" property="goodsName" />
            <result column="goods_price" property="goodsPrice" />
            <result column="goods_picture" property="goodsPicture" />
            <result column="comment" property="comment" />
        </collection>
    </resultMap>

    <select id="getOrderByUserId" resultMap="BaseResultMap">
        select * from order_list where user_id = #{id};
    </select>

    <select id="getGoods" resultMap="OrderContainGoodsMap">
        SELECT * FROM order_list a
         LEFT JOIN order_contain_goods b ON b.order_id = a.order_id
         WHERE a.order_id = #{id}
    </select>

    <select id="getAllOrderList" resultMap="BaseResultMap">
        select * from order_list;
    </select>
</mapper>
