<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisplus.mapper.OrderContainGoodsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatisplus.model.domain.OrderContainGoods">
        <id column="order_id" property="orderId" />
        <result column="goods_id" property="goodsId" />
        <result column="goods_number" property="goodsNumber" />
        <result column="goods_name" property="goodsName" />
        <result column="goods_price" property="goodsPrice" />
        <result column="goods_picture" property="goodsPicture" />
    </resultMap>

    <insert id="InsertGoods">
     insert ignore into order_contain_goods(order_id,goods_id,goods_number,goods_name,goods_price,goods_picture) values
     <foreach collection="goodsDetails" item="goods" index="index" separator=",">
         (#{goods.orderId},#{goods.goodsId},#{goods.goodsNumber},#{goods.goodsName},#{goods.goodsPrice},#{goods.goodsPicture})
     </foreach>
    </insert>

</mapper>
