<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisplus.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatisplus.model.domain.User">
        <id column="user_id" property="id" />
        <result column="trolley_id" property="trolleyId" />
        <result column="nick_name" property="nickName" />
        <result column="phone_number" property="phoneNumber" />
        <result column="password" property="password" />
        <result column="point" property="point" />
        <result column="avatar" property="avatar" />
        <result column="type" property="type" />
    </resultMap>

    <resultMap id="AddrResult" type="com.example.mybatisplus.model.vo.UserVo">
        <id column="user_id" property="id" />
        <result column="trolley_id" property="trolleyId" />
        <result column="nick_name" property="nickName" />
        <result column="phone_number" property="phoneNumber" />
        <result column="password" property="password" />
        <result column="point" property="point" />
        <result column="avatar" property="avatar" />
        <result column="type" property="type" />
        <collection property="list" ofType="com.example.mybatisplus.model.domain.Adress">
            <id column="adress_id" property="id" />
            <result column="user_id" property="userId" />
            <result column="nation" property="nation" />
            <result column="provice" property="provice" />
            <result column="city" property="city" />
            <result column="district" property="district" />
            <result column="addr" property="addr" />
        </collection>
    </resultMap>

    <resultMap id="UserCouponResult" type="com.example.mybatisplus.model.vo.UserVo">
        <id column="user_id" property="id" />
        <result column="trolley_id" property="trolleyId" />
        <result column="nick_name" property="nickName" />
        <result column="phone_number" property="phoneNumber" />
        <result column="password" property="password" />
        <result column="point" property="point" />
        <result column="avatar" property="avatar" />
        <result column="type" property="type" />
        <collection property="list" ofType="com.example.mybatisplus.model.domain.Coupon">
            <id column="coupon_id" property="couponId" />
            <result column="amount" property="amount" />
            <result column="quantity" property="quantity" />
            <result column="time" property="time" />
        </collection>
    </resultMap>

    <select id="getAddr" resultMap="AddrResult">
         SELECT *, a.user_id As id FROM `user` a
         LEFT JOIN adress b ON b.user_id = a.user_id
         WHERE a.user_id = #{id}
    </select>

    <select id="getUserCoupon" resultMap="UserCouponResult">
         SELECT *, a.user_id As id FROM `user` a
         LEFT JOIN user_coupon_has b ON b.user_id = a.user_id
         WHERE a.user_id = #{id}
    </select>

    <resultMap id="CouponResult" type="com.example.mybatisplus.model.domain.Coupon">
        <id column="coupon_id" property="couponId" />
        <result column="amount" property="amount" />
        <result column="quantity" property="quantity" />
        <result column="time" property="time" />
    </resultMap>

    <select id="getCoupon" resultMap="CouponResult">
         SELECT * FROM coupon WHERE coupon_id NOT IN (SELECT coupon_id FROM user_coupon_has)
    </select>

    <!-- syan  -->
    <select id="myGetById" resultMap="BaseResultMap">
        select * from user where user_id = #{id}
    </select>

</mapper>
